---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&client_id=CZWB8K3jPit2WBhd06loXFtkGdYAOe7e&client_secret=xN8Asnn0OKCPPOOr
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-045f3333fb92cf2b5-a-de-1939270-232550532-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"maxvadolfsson@gmail.com\",\n            \"application_name\": \"Travel aggregator\",\n
        \           \"client_id\": \"CZWB8K3jPit2WBhd06loXFtkGdYAOe7e\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"GpzTZDKUHkpeiieAbEXr6jhSATCL\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Mon, 25 Nov 2024 04:01:36 GMT
[...]
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers?adults=1&departureDate=2024-12-02&destinationLocationCode=LAX&originLocationCode=TPE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer GcxnYUMp2z4zxwLneMe9rWfGLORY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001VEJ8XNHN6R
      Ama-Gateway-Request-Id:
      - rrt-045f3333fb92cf2b5-a-de-1939268-232550721-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":64,"links":{"self":"https://test.api.amadeus.com/v2/shopping/flight-offers?originLocationCode=TPE&destinationLocationCode=LAX&departureDate=2024-12-02&adults=1"}},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"isUpsellOffer":false,"lastTicketingDate":"2024-12-02","lastTicketingDateTime":"2024-12-02","numberOfBookableSeats":9,"itineraries":[{"duration":"PT37H40M","segments":[{"departure":{"iataCode":"TPE","terminal":"1","at":"2024-12-02T10:20:00"},"arrival":{"iataCode":"MNL","terminal":"1","at":"2024-12-02T12:40:00"},"carrierCode":"PR","number":"891","aircraft":{"code":"321"},"operating":{"carrierCode":"PR"},"duration":"PT2H20M","id":"100","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"MNL","terminal":"1","at":"2024-12-03T11:20:00"},"arrival":{"iataCode":"LAX","terminal":"B","at":"2024-12-03T08:00:00"},"carrierCode":"PR","number":"112","aircraft":{"code":"773"},"operating":{"carrierCode":"PR"},"duration":"PT12H40M","id":"101","numberOfStops":0,"blacklistedInEU":false}]}],"price":{"currency":"EUR","total":"541.90","base":"437.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"541.90"},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":true},"validatingAirlineCodes":["PR"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"EUR","total":"541.90","base":"437.00"},"fareDetailsBySegment":[{"segmentId":"100","cabin":"ECONOMY","fareBasis":"KOBTW","class":"K","includedCheckedBags":{"quantity":2}},{"segmentId":"101","cabin":"ECONOMY","fareBasis":"KOBTW","class":"K","includedCheckedBags":{"quantity":2}}]}]},{"type":"flight-offer","id":"2","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"isUpsellOffer":false,"lastTicketingDate":"2024-12-02","lastTicketingDateTime":"2024-12-02","numberOfBookableSeats":9,"itineraries":[{"duration":"PT26H40M","segments":[{"departure":{"iataCode":"TPE","terminal":"1","at":"2024-12-02T10:20:00"},"arrival":{"iataCode":"MNL","terminal":"1","at":"2024-12-02T12:40:00"},"carrierCode":"PR","number":"891","aircraft":{"code":"321"},"operating":{"carrierCode":"PR"},"duration":"PT2H20M","id":"98","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"MNL","terminal":"1","at":"2024-12-02T22:20:00"},"arrival":{"iataCode":"LAX","terminal":"B","at":"2024-12-02T21:00:00"},"carrierCode":"PR","number":"102","aircraft":{"code":"773"},"operating":{"carrierCode":"PR"},"duration":"PT14H40M","stops":[{"iataCode":"ICN","duration":"PT1H","arrivalAt":"2024-12-03T02:00:00","departureAt":"2024-12-03T03:00:00"}],"id":"99","numberOfStops":1,"blacklistedInEU":false}]}],"price":{"currency":"EUR","total":"548.70","base":"437.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"548.70"},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":true},"validatingAirlineCodes":["PR"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"EUR","total":"548.70","base":"437.00"},"far[...]
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer GcxnYUMp2z4zxwLneMe9rWfGLORY
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001VEJI5NHN73
      Ama-Gateway-Request-Id:
      - rrt-0746b3a147511806e-b-de-2631249-232427653-1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":400,"code":32171,"title":"MANDATORY DATA MISSING","detail":"destinationLocationCode
        needed","source":{"pointer":"destinationLocationCode"}},{"status":400,"code":32171,"title":"MANDATORY
        DATA MISSING","detail":"adults needed","source":{"pointer":"adults"}},{"status":400,"code":32171,"title":"MANDATORY
        DATA MISSING","detail":"departureDate needed","source":{"pointer":"departureDate"}},{"status":400,"code":32171,"title":"MANDATORY
        DATA MISSING","detail":"originLocationCode needed","source":{"pointer":"originLocationCode"}}]}'
  recorded_at: Mon, 25 Nov 2024 04:01:51 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers?adults=1&departureDate=2024-12-10&destinationLocationCode=LAX&originLocationCode=TPE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer GcxnYUMp2z4zxwLneMe9rWfGLORY
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="keymanagement.service.invalid_access_token:
        Invalid Access Token"'
      Ama-Gateway-Request-Id:
      - rrt-00979121a8aecaa6a-b-eu-66481-146766806-1
    body:
      encoding: ASCII-8BIT
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38190,\n                            \"title\":
        \"Invalid access token\",\n                            \"detail\": \"The access
        token provided in the Authorization header is invalid\",\n                            \"status\":
        401\n                        }\n                ]\n            }\n        "
  recorded_at: Tue, 03 Dec 2024 11:50:14 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers?adults=1&departure_date=2024-12-10&destination_location_code=LAX&origin_location_code=TPE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer GcxnYUMp2z4zxwLneMe9rWfGLORY
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="keymanagement.service.invalid_access_token:
        Invalid Access Token"'
      Ama-Gateway-Request-Id:
      - rrt-0bc5b648f54bfcfef-a-eu-1309592-142058697-1
    body:
      encoding: ASCII-8BIT
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38190,\n                            \"title\":
        \"Invalid access token\",\n                            \"detail\": \"The access
        token provided in the Authorization header is invalid\",\n                            \"status\":
        401\n                        }\n                ]\n            }\n        "
  recorded_at: Tue, 03 Dec 2024 14:01:50 GMT
recorded_with: VCR 6.3.1
