---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=6YjbuQAxbrvqV5MR3OxQyvpo63G5YMrY&begin_date=20241126&end_date=20241203&q=Taiwan
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2024 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"abstract":"Lai Ching-te is looking
        to shore up support from three island nations that are among a dwindling number
        to keep diplomatic ties with Taiwan.","web_url":"https://www.nytimes.com/2024/11/30/world/asia/taiwans-president-pacific-islands-china.html","snippet":"Lai
        Ching-te is looking to shore up support from three island nations that are
        among a dwindling number to keep diplomatic ties with Taiwan.","lead_paragraph":"Taiwan’s
        president set off on a mission on Saturday to shore up relations with some
        of his island democracy’s shrinking band of diplomatic allies: three tiny
        Pacific Island nations that have taken an outsize importance in Taiwan’s struggle
        against Chinese efforts to push it off the international stage.","print_section":"A","print_page":"4","source":"The
        New York Times","multimedia":[{"rank":0,"subtype":"xlarge","caption":null,"credit":null,"type":"image","url":"images/2024/11/30/multimedia/30taiwan-pacific-topnew-jvkl/30taiwan-pacific-topnew-jvkl-articleLarge.jpg","height":400,"width":600,"legacy":{"xlarge":"images/2024/11/30/multimedia/30taiwan-pacific-topnew-jvkl/30taiwan-pacific-topnew-jvkl-articleLarge.jpg","xlargewidth":600,"xlargeheight":400},"subType":"xlarge","crop_name":"articleLarge"},{"rank":0,"subtype":"popup","caption":null,"credit":null,"type":"image","url":"images/2024/11/30/multimedia/30taiwan-pacific-topnew-jvkl/30taiwan-pacific-topnew-jvkl-popup.jpg","height":433,"width":650,"legacy":{},"subType":"popup","crop_name":"popup"},{"rank":0,"subtype":"blog480","caption":null,"credit":null,"type":"image","url":"images/2024/11/30/multimedia/30taiwan-pacific-topnew-jvkl/30taiwan-pacific-topnew-jvkl-blog480.jpg","height":320,"width":480,"legacy":{},"subType":"bl[...]
